@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overscroll-behavior: none;
}
body {
    margin: 0;
}

.search-modal {
    background-color: rgba(0.5, 0.5, 0.5, 0.3);
    margin: 8px;
    padding-top: 12px;
    min-height: 100vh;
}

@media screen and (min-width: 768px) {
    .search-modal {
        margin: 20px 10vw;
    }
}

/* Fade animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.animate-fadeInDelay {
  opacity: 0;
  animation: fadeIn 0.8s ease-out 0.2s forwards;
}

.animate-fadeInDelayLong {
  opacity: 0;
  animation: fadeIn 0.8s ease-out 0.4s forwards;
}

.animate-fadeInDelayLonger {
  opacity: 0;
  animation: fadeIn 0.8s ease-out 0.6s forwards;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.wave-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0;
    filter: blur(4px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    -webkit-filter: blur(4px);
}
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-filter: blur(0px);
}
}

.wavy-fade {
  --delay: 90ms;
  animation: fade-in ease-out 0.1s both;
  animation-delay: calc(var(--delay) * var(--genreIndex));
}
